---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="substore - deploy databases with ease">
	<main>
	    <img src="https://avatars.githubusercontent.com/u/100304068?s=400&u=455c4c3d3ef47ca40c0eb3d2ac35d0f460215db6&v=4">
        <h2>substore</h2>
        <p>zero friction deployment for all-things data.</p>
        <p>private beta soon...</p>
        <a href="https://github.com/substore">github</a>
        <a href="https://docs.substore.io">docs</a>

	</main>
</Layout>
