@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    margin: 0;
    width: 100vw;
    background-color: black;
}

.try{
    background: radial-gradient(circle at 40%,#01162e, black );
}